.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.navAndTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.headerContainer {
  background-color: #205375;
  padding: 1.2rem;
  color: white;
}

.titleContainer {
  text-align: start;
  padding: 0.5rem 3rem;
}

.mainTitle {
  margin-bottom: 0;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
}

.subTitle {
  margin-top: 10px;
}

.navBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
  padding: 0;
}

.radiusLeft {
  border-radius: 10px 0 0 10px;
}

.radiusRight {
  border-radius: 0 10px 10px 0;
}

.linkNavBar {
  display: block;
  text-align: center;
  padding: 14px 16px;
  width: 130px;
  background-color: #59ce8f;
  cursor: pointer;
}

.linksNav {
  text-decoration: none;
  color: white;
}

.linksNav:hover {
  color: inherit;
}

.linkNavBar:hover:not(.active) {
  background-color: #111;
  color: white;
}

.linkNavBar:hover {
  color: white;
}

.active {
  background-color: black;
}

@media screen and (max-width: 1110px) {
  .navAndTitleContainer {
    justify-content: center;
  }
}

@media screen and (max-width: 590px) {
  .radiusLeft {
    border-radius: 0;
  }

  .radiusRight {
    border-radius: 0;
  }
  .navBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .linkNavBar {
    width: 100%;
  }
}
