.skillsImg {
  width: 70px;
  height: 70px;
}

.miniTitle {
  margin-bottom: 30px;
}

.pdfLink {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.pdfLink button {
  padding: 1rem 2rem;
}

.pdfLink:hover {
  color: inherit;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container-fluid {
  padding: 0.1rem;
  margin: 0;
}

.cVContainer {
  padding: 1rem;
  margin-bottom: 10px;
}

.skillContainer {
  padding: 3rem 3rem 0 1rem;
}

.skillContainer h5 {
  font-weight: 600;
  text-align: center;
  font-size: 18px;
}

.skillsTitle {
  font-weight: 700;
  font-size: 25px;
  margin: 0;
}

.presentation {
  padding: 1rem 20rem;
  text-align: start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.softSkills {
  margin: 0;
  margin-top: 10px;
  background-color: #f66b0e11;
  border: 1px solid #f66b0e;
  border-radius: 10px;
  padding: 1rem;
}

.tecSkills {
  background-color: #59ce901a;
  border: 1px solid #59ce8f;
  border-radius: 10px;
  padding: 1rem;
  margin: 0;
}

.cvButton {
  background-color: #59ce8f;
  border: #59ce8f;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}

.cvButton:hover {
  background-color: black;
}
